/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Genral Styling */
:root {
    --headerHeight: 3rem;
    --firstColor: #069C54;
    --firstColorAlt: #048654;
    --titleColor: #393939;
    --textColor: #707070;
    --bodyColor: #FBFEFD;
    --containerColor: #FFFFFF;
    --bodyFont: 'Poppins', sans-serif;
    --normalFontSize: .938rem;
    --fontMedium: 500;
    --margin1: .5rem;
    --margin2: 1rem;
    --margin3: 1.5rem;
    --margin4: 2rem;
    --margin5: 2.5rem;
    --zFixed: 100;
    --biggestFontSize: 2.25rem;
    --h1FontSize: 1.5rem;
    --h3FontSize: 1rem;
    --smalFontSize: .813rem;
    --fontSemiBold: 600;
}
*,::before,::after{
    box-sizing: border-box;
}  
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--headerHeight) 0 0 0;
    font-family: var(--bodyFont);
    font-size: var(--normalFontSize);
    background-color: var(--bodyColor);
    color: var(--textColor);
    line-height: 1.6;
}

/* Tags */
a{
    text-decoration: none;
}
ul{
    margin: 0;
}
ul{
    padding: 0;
    list-style: none;
}
h1,h2,h3,p{
    margin: 0;
}
img{
    max-width: 100%;
    height: auto;
}

/* Header Component Styling */
.lHeader{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--zFixed);
    background-color: var(--bodyColor);
}
.bdContainer{
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--margin2);
    margin-right: var(--margin2);
}
.nav{
    max-width: 1024px;
    height: var(--headerHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLink, .navLogo, .navToggle{
    color: var(--textColor);
    font-weight: var(--fontMedium);
}
.navLogo:hover{
    color: var(--firstColor);
  }
.navLink:hover{
    color: var(--firstColor);
}
.navItem{
    margin-bottom: var(--margin2);
}
.navLink{
    transition: .3s;
}
.activeLink{
    color: var(--firstColor);
}
.changeTheme{
    position: absolute;
    right: 1rem;
    top: 1.8rem;
    color: var(--textColor);
    font-size: 1rem;
    cursor: pointer;
}
.navToggle{
    font-size: 1.3rem;
    cursor: pointer;
}

/* Home Component */
.bdGrid{
    display: grid;
    gap: 1.5rem;
}
.homeContainer{
    height: calc(100vh - var(--headerHeight));
    align-content: center;
}
.homeTitle{
    font-size: var(--biggestFontSize);
    color: var(--firstColor);
    margin-bottom: var(--margin1);
}
.homeSubtitle{
    font-size: var(--h1FontSize);
    color: var(--titleColor);
    margin-bottom: var(--margin4);
}
.homeImg{
    width: 300px;
    justify-self: center;
}
.button{
    display: inline-block;
    background-color: var(--firstColor);
    color: #FFF;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
}
.button:hover{
    background-color: var(--firstColorAlt);
}

/* About Component */
.section{
    padding: 4rem 0 2rem;
}
.aboutData{
    text-align: center;
}
.sectionSubtitle{
    display: block;
    color: var(--firstColor);
    font-weight: var(--fontMedium);
    margin-bottom: var(--margin1);
}
.sectionTitle{
    font-size: var(--h1FontSize);
    color: var(--titleColor);
    margin-bottom: var(--margin3);
}
.sectionTitle, .sectionSubtitle{
    text-align: center;
}
.aboutDescription{
    margin-bottom: var(--margin3);
}
.aboutImg{
    width: 280px;
    border-radius: .5rem;
    justify-self: center;
}

/* Services Component */
.servicesContainer{
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.servicesContent{
    text-align: center;
}
.servicesImg{
    width: 64px;
    height: 64px;
    fill: var(--firstColor);
    margin-bottom: var(--margin2);
}
.servicesTitle{
    font-size: var(--h3FontSize);
    color: var(--titleColor);
    margin-bottom: var(--margin1);
}
.servicesDescription{
    padding: 0 1.5rem;
}

/* Menu Component */
.menuContainer{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}
.menuContent{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--containerColor);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3,74,40,.15);
    padding: .75rem;
}
.menuImg{
    width: 100px;
    align-self: center;
    margin-bottom: var(--margin2);
}
.menuName, .menuPrice{
    font-weight: var(--fontSemiBold);
    color: var(--titleColor);
}
.menuName{
    font-size: var(--normalFontSize);
}
.menuDetail, .menuPrice{
    font-size: var(--smalFontSize);
}
.menuDetail{
    margin-bottom: var(--margin1);
}
.menuButton{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: .625rem .813rem;
    border-radius: .5rem 0 .5rem 0;
}

/* App Store */
.appData{
    text-align: center;
}
.appDescription{
    margin-bottom: var(--margin5);
}
.appStores{
    margin-bottom: var(--margin4);
}
.appStore{
    width: 120px;
    margin: 0 var(--margin1);
}
.appImg{
    width: 230px;
    justify-self: center;
}

/* Contact Component */
.contactContainer{
    text-align: center;
}
.contactDescription{
    margin-bottom: var(--margin3);
}


/* Media Queries */
@media screen and (min-width: 960px){
    .bdContainer{
        margin-left: auto;
        margin-right: auto;
    }
    .homeImg{
        width: 500px;
    }
    .aboutContainer{
        column-gap: 7rem;
    }
    .appContainer{
        column-gap: 7rem;
    }
}
@media screen and (max-width: 780px){
    .navMenu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0 1rem;
        text-align: center;
        background-color: var(--bodyColor);
        transition: .4s;
        box-shadow: 0 4px 4px rgba(0,0,0,.1);
        border-radius: 0 0 1rem 1rem;
        z-index: var(--zFixed);
    }
}
@media screen and (min-width: 780px){
    :root{
        --normalFontSize: 1rem;
        --biggestFontSize: 4rem;
        --h1FontSize: 2.25rem;
        --h3FontSize: 1.25rem;
        --smalFontSize: .875rem;
    }
    body{
        margin: 0;
    }
    .nav{
        height: calc(var(--headerHeight) + 1.5rem);
    }
    .navList{
        display: flex;
    }
    .navItem{
        margin-left: var(--margin5);
        margin-bottom: 0;
    }
    .navToggle{
        display: none;
    }
    .changeTheme{
        position: initial;
        margin-left: var(--margin2);
    }
    .homeContainer{
        height: 100vh;
        justify-items: center;
    }
    .section{
        padding-top: 8rem;
    }
    .servicesContainer{
        margin-top: var(--margin6);
    }
    .menuContainer{
        margin-top: var(--margin6);
    }
    .menuContainer{
        grid-template-columns: repeat(3, 210px);
        column-gap: 4rem;
    }
    .menuContent{
        padding: 1.5rem;
    }
    .menuImg{
        width: 130px;
    }
    .appStore{
        margin: 0 var(--margin1) 0 0;
      }
}
@media screen and (min-width: 576px){
    .homeContainer{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    .aboutContainer{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    .aboutData,.aboutInitial{
        text-align: initial;
    }
    .aboutImg{
        width: 380px;
        order: -1;
    }
    .appContainer{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    .appData, .appInitial{
        text-align: initial;
    }
    .appImg{
        width: 380px;
        order: -1;
    }
    .contactContainer, .contactInitial{
        text-align: initial;
    }
    .contactContainer{
        grid-template-columns: 1.75fr 1fr;
        align-items: center;
    }
    .contactButton{
        justify-self: center;
    }
}

/* Styling based on user selections */
.showMenu{
    top: var(--headerHeight);
}
.scrollHeader{
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
body.darkTheme{
    --titleColor: #F1F3F2;
    --textColor: #C7D1CC;
    --bodyColor: #1D2521;
    --containerColor: #27302C;
}