/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Genral Styling */
:root {
    --headerHeight: 3rem;
    --firstColor: #069C54;
    --firstColorAlt: #048654;
    --titleColor: #393939;
    --textColor: #707070;
    --bodyColor: #FBFEFD;
    --containerColor: #FFFFFF;
    --bodyFont: 'Poppins', sans-serif;
    --normalFontSize: .938rem;
    --fontMedium: 500;
    --margin1: .5rem;
    --margin2: 1rem;
    --margin4: 2rem;
    --margin5: 2.5rem;
    --zFixed: 100;
    --biggestFontSize: 2.25rem;
    --h1FontSize: 1.5rem;
}
*,::before,::after{
    box-sizing: border-box;
}  
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--headerHeight) 0 0 0;
    font-family: var(--bodyFont);
    font-size: var(--normalFontSize);
    background-color: var(--bodyColor);
    color: var(--textColor);
    line-height: 1.6;
}

/* Tags */
a{
    text-decoration: none;
}
ul{
    margin: 0;
}
ul{
    padding: 0;
    list-style: none;
}
h1,h2{
    margin: 0;
}
img{
    max-width: 100%;
    height: auto;
}

/* Header Component Styling */
.lHeader{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--zFixed);
    background-color: var(--bodyColor);
}
.bdContainer{
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--margin2);
    margin-right: var(--margin2);
}
.nav{
    max-width: 1024px;
    height: var(--headerHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLink, .navLogo, .navToggle{
    color: var(--textColor);
    font-weight: var(--fontMedium);
}
.navLogo:hover{
    color: var(--firstColor);
  }
.navLink:hover{
    color: var(--firstColor);
}
.navItem{
    margin-bottom: var(--margin2);
}
.navLink{
    transition: .3s;
}
.activeLink{
    color: var(--firstColor);
}
.changeTheme{
    position: absolute;
    right: 1rem;
    top: 1.8rem;
    color: var(--textColor);
    font-size: 1rem;
    cursor: pointer;
}
.navToggle{
    font-size: 1.3rem;
    cursor: pointer;
}

/* Home Component */
.bdGrid{
    display: grid;
    gap: 1.5rem;
}
.homeContainer{
    height: calc(100vh - var(--headerHeight));
    align-content: center;
}
.homeTitle{
    font-size: var(--biggestFontSize);
    color: var(--firstColor);
    margin-bottom: var(--margin1);
}
.homeSubtitle{
    font-size: var(--h1FontSize);
    color: var(--titleColor);
    margin-bottom: var(--margin4);
}
.homeImg{
    width: 300px;
    justify-self: center;
}
.button{
    display: inline-block;
    background-color: var(--firstColor);
    color: #FFF;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
}
.button:hover{
    background-color: var(--firstColorAlt);
}

/* Media Queries */
@media screen and (min-width: 960px){
    .bdContainer{
      margin-left: auto;
      margin-right: auto;
    }
    .homeImg{
        width: 500px;
    }
}
@media screen and (max-width: 780px){
    .navMenu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0 1rem;
        text-align: center;
        background-color: var(--bodyColor);
        transition: .4s;
        box-shadow: 0 4px 4px rgba(0,0,0,.1);
        border-radius: 0 0 1rem 1rem;
        z-index: var(--zFixed);
    }
}
@media screen and (min-width: 780px){
    :root{
        --normalFontSize: 1rem;
        --biggestFontSize: 4rem;
        --h1FontSize: 2.25rem;
    }
    body{
        margin: 0;
    }
    .nav{
        height: calc(var(--headerHeight) + 1.5rem);
    }
    .navList{
        display: flex;
    }
    .navItem{
        margin-left: var(--margin5);
        margin-bottom: 0;
    }
    .navToggle{
        display: none;
    }
    .changeTheme{
        position: initial;
        margin-left: var(--margin2);
    }
    .homeContainer{
        height: 100vh;
        justify-items: center;
    }
}
@media screen and (min-width: 576px){
    .homeContainer{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
}

/* Styling based on user selections */
.showMenu{
    top: var(--headerHeight);
}
.scrollHeader{
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
body.darkTheme{
    --titleColor: #F1F3F2;
    --textColor: #C7D1CC;
    --bodyColor: #1D2521;
    --containerColor: #27302C;
}